@import "tailwindcss";
@tailwind utilities;

/* Thêm Google Font Anton */
:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Biến custom cho font Anton */
  --font-anton: 'Anton', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-outline {
  -webkit-text-stroke: 10px black;
}

.font-display {
  font-family: var(--font-anton);
}
.input {
  @apply border rounded-md p-3 w-full focus:outline-none focus:ring-2 focus:ring-green-500;
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 40s linear infinite; /* chậm lại */
  }
}
